html {
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-size: 1.3em;
	max-width: 40rem;
	padding: 2rem;
	margin: auto;
	line-height: 1.5rem;
}

button {
	font-size: 20px;
	font-weight: 700;
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

button.letter-button {
	width: 60px;
	height: 60px;
	padding: 20px;
	margin: 5px;
	background: #efe9e6;
	color: #000000;
}

button.letter-button.selected {
	background: #5a534e;
	color: #ffffff;
}

button.black {
	height: 40px;
	padding: 10px 30px;
	background: #000000;
	color: #ffffff;
	border-radius: 40px;
}

dialog {
	position: absolute;
	top: 20px;
	background: #efe9e6;
	border-radius: 5px;
	padding: 20px;
	max-width: clamp(20rem, 50vw, 40rem);
}

dialog h2 {
	margin: 0;
}

dialog::backdrop {
	backdrop-filter: blur(2px);
}

details summary {
	cursor: pointer;
}

details summary > * {
	display: inline;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
	border-bottom: 1px solid #000000;
}

header h1 {
	margin: 0;
	line-height: 40px;
}

header div:last-child {
	text-align: center;
}

.working-word {
	padding: 20px;
	text-align: center;
}

.working-word span {
	position: relative;
	display: inline-block;
	height: 25px;
}

.working-word span::after {
	position: absolute;
	top: 0;
	right: -2px;
	display: block;
	content: "";
	width: 100%;
	height: 100%;
	margin-left: 5px;
	border-right: 2px solid #efe9e6;
	animation: 1s blink infinite;
	box-sizing: border-box;
}

.grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.submission {
	padding: 20px;
	text-align: center;
}

@keyframes blink {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
